/* @import "bg.scss"; */
#top-bar {
    padding: 12px 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 45px;
    line-height: 24px;
    box-sizing: border-box;
    em {
        position: relative;
        top: -8px;
        right: -6px;
        display: inline-block;
        zoom: 0.5;
    }
    .bk {
        float: left;
        position: relative;
        top: -4px;
        left: 0;
        height: 51px;
        @extend .bg-bar-bk;
    }
    .sr {
        float: right;
        position: absolute;
        top: 24px;
        right: 86px;
        @extend .bg-bar-sr;
    }
    .hm {
        float: right;
        position: relative;
        top: -4px;
        height: 51px;
        @extend .bg-bar-home;
    }
    span {
        font-size: 18px;
        visibility: hidden;
        color: $fnormal;
    }
    .buy-set {
        position: absolute;
        right: 10px;
        top: 12px;
        font-size: 14px;
        color: $fnormal;
    }
}
.top-bar-on {
    background: white;
    border-bottom: 1px solid #dedede;
    span {
        visibility: visible!important;
    }
}
