#detail-page{
    margin-bottom:60px;
    .page-title{
        text-align:center;
        padding:10px 0;
        font-size:16px;
        color:#f84343;
        background:#ffffff;
    }
    .imgList{
        img{
            vertical-align: middle;
        }
    }
}
