#my-order-comm{
	#pay-money-bianhao{
		margin-bottom: 0;
	}
	.time{
		color:$red!important;
	}
	#pay-money-bianhao{
		background: #F2F2F2!important;
	}
	#pay-money-sendseller{
		background: white!important;
	}
	#sheller-detail-label{
		padding-bottom:5px;
	}
}