.mbp5{
    margin-bottom: 5px;
}
#shopmanage-name {
    background: white;
    .shopmanage-box {
        width: auto;
        margin: 0 17px;
        padding: 17px 0;
        color: $fnormal;
        border-bottom: 1px solid $bcolr;
        img {
            width: 55px;
            border-radius: 100%;
            margin: 0px 10px;
        }
        .name {
            line-height: 53px;
            color: $aaa;
            font-size: 18px;
        }
        i {
            @extend .bg-gt;
            display: inline-block;
            opacity: 0.4;
            vertical-align: middle;
            position: relative;
            top: 5px;
            float: right;
            zoom: 0.5;
            top: 40px;
        }
    }
}
