#shopmanage-data {
    background: white;
    padding: 10px 0;
    color:$fnormal;
    .flex1 {
        text-align: center;
        font-size: 16px;
        .word {
            font-size: 13px;
            color: #c1c1c1;
        }
    }
}